
@model Project_MVC.ModelView.ProductViewModle

@{
    ViewBag.Title = "Enter_Cus";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title style="color:darkslateblue| coral">Welcome!</title>
</head>
<body>
    <div>
        <p>See Current Products:</p>
        <div id="status"></div>
       
        <table id="proTable">

            <tr>
                <td> ProNum  </td>
                <td> ProductName  </td>
                <td> SerialNum  </td>
            </tr>

        </table>

        <script language="javascript">
            $("#status").text("Loading...");
            $.get("View_Products", null, BindData);
            function BindData(Products) {
                var tbl = $("#proTable");
                for (k = 0; k < Products.length; k++) {
                    var newRow = "<tr>" + 
                        "<td>" + Products[k].ProNum + "</td>" +
                        "<td>" + Products[k].ProductName + "</td>" +
                        "<td>" + Products[k].SerialNum + "</td>" +
                        "</tr>"
                    tbl.append(newRow);
                }
                $("#status").text(" ");
            }
           
        </script>
        @*<div class="btn btn-default">@Html.ActionLink("View Products", "View_Products", "Login")</div>*@
    </div>
</body>
</html>
