
@model Project_MVC.ModelView.ProductViewModle
@using Project_MVC.Models;
@using Project_MVC.ModelView;




@{
    ViewBag.Title = "Enter_Cus";
    ViewBag.Title = "Login";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title style="color:darkslateblue| coral">Welcome!</title>
    <style>
        /* Popup container - can be anything you want */
        .popup {
            position: relative;
            display: inline-block;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: element;
        }
        #buy {
            user-select: none;
        }

            /* The actual popup */
            .popup .popuptext {
                visibility: hidden;
                width: 160px;
                background-color: #ffd800;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 8px 0;
                position: absolute;
                z-index: 1;
                bottom: 125%;
                left: 50%;
                margin-left: -80px;
            }

                /* Popup arrow */
                .popup .popuptext::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #ffd800 transparent transparent transparent;
                }

            /* Toggle this class - hide and show the popup */
            .popup .show {
                visibility: visible;
                -webkit-animation: fadeIn 1s;
                animation: fadeIn 1s;
            }

        /* Add animation (fade in the popup) */
        @@-webkit-keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @@keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    </style>
</head>


<body>
    <div class="container">
        <span style="color:red;">Current Prodects:</span>
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Button</th>
                </tr>
            </thead>
            @foreach (Product obj in Model.Products)
            {
                <tbody>
                    <tr>
                        <td>
                            @obj.ProductName
                        </td>
                        <td>
                            <div class="popup" onclick="myFunction()">
                                <button type="button" class="btn btn-primary" style="color:#fff" id="buy">@Html.ActionLink("Buy", "Add_Purches",
                                                                                      new { mvm = @ViewBag.NameOfCust, proName = obj.ProductName

                                                                                  }, "Login")</button>
                                <span class="popuptext" id="myPopup">Success!</span>
                            </div>
                            
                        </td>
                        
                    </tr>
                    
                    
                </tbody>
            }
        </table>
    </div>

    <script>
        // When the user clicks on div, open the popup
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>
</body>
@*<div class="btn btn-default">@Html.ActionLink("View Products", "View_Products", "Login")</div>*@

</html>

