@model Project_MVC.Models.User
@{
    ViewBag.Title = "Enter_Cus";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enter_Cus - Welcome!</title>
</head>
<body>
    <div> 
        @Model.UserName
    </div>
</body>
</html>
