@model Project_MVC.ModelView.CustomerViewModel
@using Project_MVC.Models;
@using Project_MVC.ModelView;

@{
    ViewBag.title = "View_Customers";
   
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>View_Customers</title>
</head>
<body>
    <div class="container"> 
        <span style="color:red">Current Customers:</span>
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Customer Name</th>
                </tr>
            </thead>
            @foreach (User obj in Model.Customers)
            {
                <tbody>
                    <tr>
                        <td>
                            @obj.UserName
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</body>
</html>
